@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.fa-pencil {
    font-size: 50px !important;
}

textarea {
    resize: none;
}

li {
    list-style: none;
}

a#newtask {
    text-align: center !important;
}